body {
    background-color: #8ab6d6;
    text-align: center;
    background-color: #2978b5;
    transition: 5s;
}

h1 {
    font-size: xxx-large;
    position: relative;
    top: 150px;
}

h3 {
    position: relative;
    top: 150px;
    transition: 0.4s;
}

span {
    font-family: sans-serif;
    font-size: x-large;
}

.nomes {
    height: 30px;
    width: 200px;
    position: relative;
    top: 300px;
}
.nomes:hover {
    background-color: #2978b5;
}

.call {
    height: 30px;
    width: 80px;
    position: relative;
    top: 300px;
}
.call:hover {
    background-color: #2978b5;
}